
.metadata/version.ini

.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml

.metadata/.plugins/org.eclipse.team.cvs.core/.running

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.DS_Store

.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/889055525.index

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/0.snap

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.projects/IDE/.syncinfo.snap

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.core.resources/.projects/IDE/.markers.snap

.metadata/.mylyn/tasks.xml.zip

.metadata/.mylyn/repositories.xml.zip

.metadata/.mylyn/.taskListIndex/segments.gen

.metadata/.mylyn/.taskListIndex/segments_1
